# Ignore composer dependencies
/vendor/

# Ignore PHPUnit result cache
.phpunit.result.cache
junit.xml

# Ignore local environment configuration
.env

# Ignore IDE and editor config files
/.idea/
/*.swp
*.sublime-workspace
*.sublime-project

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build artifacts
/build/
/dist/

# Ignore log files
*.log

# Ignore coverage reports
/coverage/
/*.cov
*.gcov

# Ignore PHP code-sniffer's cache and sniff list from `composer phpcs-list-rules`
/.phpcs-cache
/sniffs.html
